<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <!--
    {% if tema=='branco' %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_branco.css') }}">
    {% elif tema=='laranja' %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_laranja.css') }}">
    {% endif %}
    -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_branco.css') }}">
    <link rel="icon" href="/static/images/Logo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab:wght@500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.10.0/dist/autoNumeric.min.js"></script>
</head>
<body>
    {% block menu %}{% endblock %}
    {% block container %}{% endblock %}
</body>
</html>