
{% extends "base.html" %}

{% block title %}
    <title>Controle de Estoque</title>
{% endblock %}

{% block menu %}
    <div class="menu" >
        <img class="menu-logo" src="/static/images/Logo-color.png" alt="Logo">
        <form class="form-menu" method="post" action="{{ url_for('menu') }}">
            <button class="menu-botoes" name="endereco" value="index">Página principal</button>
            <button class="menu-botoes" name="endereco" value="manutencao">Manutenção</button>
            <button class="menu-botoes-ativo" name="endereco" value="estoque">Controle de estoque</button>
            <button class="menu-botoes" name="endereco" value="relatorio">Relatórios</button>
        </form>
        <form class="search-box" method="post" action="{{ url_for('pesquisar_quantidade_estoque') }}">
            <input class="input-pesquisa" type="text" id="filtro_quantidade" name="filtro_quantidade" placeholder="Quantidade <" autocomplete="off">
            <button class="menu-botoes-pesquisar">
                <img class="icone-pesquisa" src="/static/images/icone-pesquisa.png" alt="Logo">
            </button>
        </form>
        <form><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></form>
        <form class="form-planilha" method="post" action="{{ url_for('exportar_planilha_estoque') }}">
            <input class="esconder" type="text" name="filtro_quantidade" value="{{filtro_quantidade}}">
            <button class="botao-planilha" name="exportar" value="estoque" title="Exportar planilha">
                <img class="imagem-botao-planilha" src="/static/images/icone-planilha.png" alt="Logo">
            </button>
        </form>
    </div>
{% endblock %}
{% block container %}
    {% if baixar_arquivo %}
        <div class="plano-fundo">
            <h3>Planilha pronta!</h3>
            <h4>Clique no icone abaixo para fazer o download</h4>
            <a href="{{ baixar_arquivo }}" download>
                <button class="botao-planilha">
                    <img class="imagem-botao-planilha" src="/static/images/icone-planilha.png" alt="Logo">
                </button>
            </a>
            <br>
            <br>
            <form class="form-download-planilha" method="post" action="{{ url_for('estoque') }}">
                <input type="text" class="esconder" name="endereco" value="estoque">
                <button class="botao-colorido">Fechar</button>
            </form>
        </div>
    {% endif %}
    {% if filtro_quantidade %}
        <div class="filtros">
            <h5>Buscando por produtos com quantidade em estoque menores que:</h5>
            <form class="form-filtros" method="post" action="{{ url_for('estoque') }}">
                <button class="botao-filtro-ativo" value="{{filtro_quantidade}}">
                    <h4 class="texto-filtro">{{filtro_quantidade}}</h4>
                    <img class="imagem-botao-filtro" src="/static/images/icone-fechar.png" alt="Logo">
                </button>
            </form>
        </div>
    {% endif %}
    {% if produtos %}
    <div class="sub-menu" >
        <form method="post" action="{{ url_for('adicionar_produto') }}">
            <button class="sub-menu-botoes" name="cliente_id" value="teste">Adicionar produto</button>
        </form>
        <form method="post" action="{{ url_for('estoque') }}">
            <button class="sub-menu-botoes" name="cliente_id">Atualizar</button>
        </form>
        <form><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></form>
        <form></form>
    </div>
    {% endif %}
    {% if editar_produto %}
        <div class="container-cadastro">
            <div class="cadastro">
                <h3>Editar produto</h3>
                <form method="post" action="{{ url_for('alterar_produto') }}">
                    <label for="id">ID<img class="icone-info" src="/static/images/icone-info.png" title="Código de identificação do produto no sistema, não é permitido alterações"  alt="(?)"></label><br>
                    <input type="text" id="id" name="id" value="{{produto[0]}}" placeholder="ID" readonly>
                    <label for="codigo">Código de barras<img class="icone-info" src="/static/images/icone-info.png" title="Digitar código de barras do produto ou marque a opção para gerar um código"  alt="(?)"></label><br>
                    <div class="div-flex">
                        <input class="input-menor" type="text" id="codigo" name="codigo" value="{{produto[1]}}" placeholder="Código de Barras">
                        <div class="checkbox-wrapper-10">
                            <input class="tgl tgl-flip" id="cb5" type="checkbox" name="meuCheckbox" value="valor_checkbox">
                            <label class="tgl-btn" data-tg-off="Inserir código" data-tg-on="Gerar código" for="cb5"></label>
                        </div>
                    </div>
                    <label for="nome">Nome</label><br>
                    <input type="text" id="nome" name="nome" value="{{produto[2]}}" placeholder="Nome do produto" required>
                    <label for="quantidade">Quantidade</label><br>
                    <input type="text" id="quantidade" name="quantidade" value="{{produto[3]}}" placeholder="Quantidade em estoque" required>
                    <label for="unidade">Unidade</label><br>
                    <select type="text" id="unidade" name="unidade">
                        <option value="UN" selected>Unidade</option>
                        <option value="PC">Pacote</option>
                        <option value="CX">Caixa</option>
                        <option value="KG">Quilograma</option>
                        <option value="M">Metro</option>
                        <option value="PR">Par</option>
                        <option value="RL">Rolo</option>
                        <option value="KT">Kit</option>
                        <option value="DZ">Dúzia</option>
                        <option value="L">Litro</option>
                    </select>
                    <label for="quantidade_minima" >
                        Quantidade mínima<img class="icone-info" src="/static/images/icone-info.png" title="Se o estoque atingir essa quantidade você será notificado">
                    </label><br>
                    <input type="text" id="quantidade_minima" name="quantidade_minima" value="{{ produto[5] | default('') if produto[5] not in [None, 'None', ''] else ''}}" placeholder="Quantidade mínima de estoque">
                    <label for="preco">Preço</label><br>
                    <input type="text" id="preco" name="preco" value="{{ produto[6] | default('Valor padrão') if produto[6] not in [None, 'None', ''] else '' }}" placeholder="Preço de venda">
                    <!--<input type="text" id="preco" name="preco" value="{{produto[6]}}" placeholder="Preço de venda">-->
                    <button class="botao-colorido" name="comando" value="{{produto[0]}}-salvar">Salvar</button>
                    <button class="botao-colorido" name="comando" value="{{produto[0]}}-excluir">Excluir</button>
                </form>
            </div>
        </div>
    {% endif %}
    {% if adicionar_produto %}
        <div class="container-cadastro">
            <div class="cadastro">
                <h3>Adicionar produto</h3>
                <form method="post" action="{{ url_for('incluir_produto') }}">
                    <label for="id">ID<img class="icone-info" src="/static/images/icone-info.png" title="Código de identificação do produto no sistema, não é permitido alterações"  alt="(?)"></label><br>
                    <input type="text" id="id" name="id" placeholder="ID" readonly>
                    <label for="codigo">Código de barras<img class="icone-info" src="/static/images/icone-info.png" title="Digitar código de barras do produto ou marque a opção para gerar um código"  alt="(?)"></label><br>
                    <div class="div-flex">
                        <input class="input-menor" type="text" id="codigo" name="codigo" placeholder="Código de Barras">
                        <div class="checkbox-wrapper-10">
                            <input class="tgl tgl-flip" id="cb5" type="checkbox" name="meuCheckbox" value="valor_checkbox">
                            <label class="tgl-btn" data-tg-off="Inserir código" data-tg-on="Gerar código" for="cb5"></label>
                        </div>
                    </div>
                    <label for="nome">Nome</label><br>
                    <input type="text" id="nome" name="nome" placeholder="Nome do produto" required>
                    <label for="quantidade">Quantidade</label><br>
                    <input type="text" id="quantidade" name="quantidade" placeholder="Quantidade em estoque" required>
                    <label for="unidade">Unidade</label><br>
                    <select type="text" id="unidade" name="unidade">
                        <option value="UN" selected>Unidade</option>
                        <option value="PC">Pacote</option>
                        <option value="CX">Caixa</option>
                        <option value="KG">Quilograma</option>
                        <option value="M">Metro</option>
                        <option value="PR">Par</option>
                        <option value="RL">Rolo</option>
                        <option value="KT">Kit</option>
                        <option value="DZ">Dúzia</option>
                        <option value="L">Litro</option>
                    </select>
                    <label for="quantidade_minima" >
                        Quantidade mínima<img class="icone-info" src="/static/images/icone-info.png" title="Se o estoque atingir essa quantidade você será notificado">
                    </label><br>
                    <input type="text" id="quantidade_minima" name="quantidade_minima" placeholder="Quantidade mínima de estoque">
                    <label for="preco">Preço</label><br>
                    <input type="text" id="preco" name="preco" placeholder="Preço de venda">
                    <button class="botao-colorido" name="comando" value="salvar">Salvar</button>
                    <button class="botao-colorido" name="comando" value="cancelar">Cancelar</button>
                </form>
            </div>
        </div>
    {% endif %}
    {% if produtos %}
        <table class="tabela">
            <tr>
                <form method="post" action="{{ url_for('filtrar_estoque') }}">
                    <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="id">ID</button></th>
                    <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="codigo">Código de Barras</button></th>
                    <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="nome">Nome</button></th>
                    <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="quantidade">Quantidade</button></th>
                    <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="preco">Preço</button></th>
                    <th class="titulo-tabela">Editar</th>
                </form>
            </tr>
            {% for dado in produtos %}
                {% if novo_produto== dado[0] %}
                    <tr style="background-color: green;">
                {% else %}
                    <tr>
                {% endif %}
                    <td>{{dado[0]}}</td>
                    <td>{{dado[1]}}</td>
                    <td>{{dado[2]}}</td>
                    <td>{{dado[3]}}</td>
                    <td class="campo-preco">{{dado[6]}}</td>
                    <td>
                        <form method="post" action="{{ url_for('editar_produto') }}">
                            <button class="botao-tabela" name="produto_id" value="{{dado[0]}}">
                                <img class="imagem-botao-tabela" src="/static/images/icone-abrir.png" alt="Logo">
                            </button>
                        </form>
                    </td> 
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Inicialize os campos de entrada usando autoNumeric
            var options = {
                currencySymbol: 'R$ ',
                decimalCharacter: ',',
                digitGroupSeparator: '.',
                currencySymbolPlacement: 'p',
                decimalPlaces: 2
            };
    
            var inputs = document.querySelectorAll('.campo-preco');
            inputs.forEach(function(input) {
                new AutoNumeric(input, options);
            });
        });
    </script>
{% endblock %}