
{% extends "base.html" %}

{% block title %}
    <title>Pagina inicial</title>
{% endblock %}

{% block menu %}
    <div class="menu" >
        <img class="menu-logo" src="/static/images/Logo-color.png" alt="Logo">
        <form class="form-menu" method="post" action="{{ url_for('menu') }}">
            <button class="menu-botoes-ativo" name="endereco" value="index">Pagina principal</button>
            <button class="menu-botoes" name="endereco" value="manutencao">Manutenção</button>
            <button class="menu-botoes" name="endereco" value="relatorio">Relatorios</button>
        </form>
    </div>
{% endblock %}
{% block container %}
    <h3>Endereço:</h3>
    <h4>R. Avelino Faleiro, 57 - Carmópolis de Minas</h4>
    <a href="https://maps.app.goo.gl/qy28mUUnGSEDosrj9">Ver localização no mapa</a>
{% endblock %}