{% extends "base.html" %}

{% block title %}
    <title>Manutenções</title>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.10.0/dist/autoNumeric.min.js"></script>
{% endblock %}

{% block menu %}
    <div class="menu" >
        <img class="menu-logo" src="/static/images/Logo-color.png" alt="Logo">
        <form class="form-menu" method="post" action="{{ url_for('menu') }}">
            <button class="menu-botoes" name="endereco" value="index">Página principal</button>
            <button class="menu-botoes-ativo" name="endereco" value="manutencao">Manutenção</button>
            <button class="menu-botoes" name="endereco" value="estoque">Controle de estoque</button>
            <button class="menu-botoes" name="endereco" value="relatorio">Relatórios</button>
        </form>
        {% if os %}
            <form class="search-box" method="post" action="{{ url_for('buscar_cadastro') }}">
                {% if busca=='texto' %}
                    <input type="text" class="input-pesquisa" name="buscar" id="buscar" placeholder="nome / telefone" autocomplete="off"/><span></span>
                    <button class="menu-botoes-pesquisar">
                        <img class="icone-pesquisa" src="/static/images/icone-pesquisa.png" alt="Logo">
                    </button>

                {% elif busca=='data' %}
                    <input class="input-pesquisa" type="date" name="buscar" id="buscar">
                    <button class="menu-botoes-pesquisar">
                        <img class="icone-pesquisa" src="/static/images/icone-pesquisa.png" alt="Logo">
                    </button>
                {% endif %}
            </form>
            <form method="post" action="{{ url_for('alternar_busca') }}">
                <button class="menu-botoes">
                    {% if busca=='texto' %}
                        <img class="imagem-botao-tabela" src="/static/images/icone-calendario.png" alt="Logo" title="Pesquisar por data">
                    {% elif busca=='data' %}
                        <img class="imagem-botao-tabela" src="/static/images/icone-texto.png" alt="Logo" title="Pesquisar por texto">
                    {% endif %}
                </button>
            </form>
        {% endif %}
    </div>
{% endblock %}
{% block container %}
{% if os %}
<div class="sub-menu" >
    <form method="post" action="{{ url_for('nova_os') }}">
        <button class="sub-menu-botoes" name="cliente_id" value="teste">Novo serviço</button>
    </form>
    <form method="post" action="{{ url_for('manutencao') }}">
        <button class="sub-menu-botoes" name="cliente_id">Atualizar</button>
    </form>
    <form><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></form>
    <form></form>
</div>
{% endif %}
{% if filtro %}
    <div class="filtros">
        <h4>Buscando por:</h4>
        <form class="form-filtros" method="post" action="{{ url_for('manutencao') }}">
            <button class="botao-filtro-ativo" value="{{filtro}}">
                <h4 class="texto-filtro">{{filtro}}</h4>
                <img class="imagem-botao-filtro" src="/static/images/icone-fechar.png" alt="Logo">
            </button>
        </form>
        <br>
    </div>
{% endif %}
<div class="container">
    {% if nova_os %}
        <div class="container-cadastro">
            <div class="cadastro">
                <h2>Nova OS</h2>
                <form method="post" action="{{ url_for('registrar_os') }}">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" placeholder="Nome completo" required><br>
                    <label for="telefone">Telefone</label><br>
                    <input type="text" id="telefone" name="telefone" placeholder="Telefone" required><br>
                    <label for="endereco">Endereço</label><br>
                    <input type="text" id="endereco" name="endereco" placeholder="Endereço completo"><br>
                    <label for="data_chegada">Data de chegada</label><br>
                    <input type="date" id="data_chegada" name="data_chegada">
                    <label for="data_entrega">Data de entrega</label><br>
                    <input type="date" id="data_entrega" name="data_entrega">
                    <label for="finalizado">Finalizado</label><br>
                    <select type="text" id="finalizado" name="finalizado" placeholder="Finalizado">
                        <option value="Sim">Sim</option>
                        <option value="Não" selected>Não</option>
                    </select>
                    <button class="botao-colorido">OK</button>
                </form>
            </div>
        </div>
    {% endif %}

    {% if editar_os %}
        <div class="container-cadastro">
            <div class="cadastro">
                <h2>Editar OS</h2>
                <form method="post" action="{{ url_for('salvar_alterações_os') }}">
                    <label for="nome">Nome</label><br>
                    <input type="text" id="nome"         name="nome"          value="{{ info_os[1]}}"  placeholder="Nome completo" required>
                    <label for="nome">Telefone</label><br>
                    <input type="text" id="telefone"     name="telefone"      value="{{ info_os[2] }}" placeholder="Telefone" required>
                    <label for="nome">Endereço</label><br>
                    <input type="text" id="endereco"     name="endereco"      value="{{ info_os[3] }}" placeholder="Endereço completo">
                    <label for="nome">Data de chegada</label><br>
                    <input type="date" id="data_chegada" name="data_chegada"  value="{{ info_os[4] }}"><br>
                    <label for="nome">Data de entrega</label>
                    <input type="date" id="data_entrega" name="data_entrega"  value="{{ info_os[5] }}"><br>
                    <label for="finalizado">Pronto</label>
                    <select type="text" id="finalizado" name="finalizado" value="{{ info_os[6] }}">
                        <option value="Sim">Sim</option>
                        <option value="Não" selected>Não</option>
                    </select>
                    <button class="botao-colorido" name="comando" value="{{ info_os[0] }}-salvar">Salvar</button>
                    <button class="botao-colorido" name="comando" value="{{ info_os[0] }}-excluir">Excluir</button>
                </form>
            </div>
        </div>
        <div class="container-direita">
            <div class="edicao">
                <h2>Serviços</h2>
                    {% if info_servicos %}
                        <table class="tabela-servico">
                            <thead>
                                <tr class="linha-servico">
                                    <th>ID</th>
                                    <th>Descrição</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for info_servico in info_servicos %}
                                <form class="form-servico" method="post" action="{{ url_for('alterar_servico') }}">
                                    <tr class="linha-servico">
                                        <td class="item-servico"><input class="input-servico" type="text" id="id" name="id" value="{{ info_servico[0]}}"  placeholder="ID" readonly></td>
                                        <td class="item-servico"><input class="input-servico" type="text" id="descricao" name="descricao" value="{{ info_servico[1]}}"  placeholder="Valor"></td>
                                        <td class="item-servico">
                                            <input type="text" id="{{ info_servico[2] }}" name="valor" class="input-valor" value="{{ info_servico[2] }}" placeholder="R$ 0,00">
                                        </td>
                                        <td class="item-servico">
                                            <button class="botao-alterar-servico" name="comando" value="{{ info_servico[0]}}-salvar-{{ info_servico[3] }}-salvar">
                                                <img class="imagem-botao" src="/static/images/icone-salvar.png" alt="Logo">
                                            </button>
                                            <button class="botao-alterar-servico" name="comando" value="{{ info_servico[0] }}-excluir-{{ info_servico[3] }}">
                                                <img class="imagem-botao" src="/static/images/icone-excluir.png" alt="Logo">
                                            </button>
                                        </td>
                                    </tr>
                                </form>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                <br>
                <br>
                <form class="form-servico" method="post" action="{{ url_for('novo_servico') }}">
                    <button class="botao-colorido" name="os_id" value="{{ info_os[0] }}">Adicionar</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% if os %}
    <table class="tabela">
        <tr>
            <form method="post" action="{{ url_for('filtrar_tabela') }}">
                <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="nome">Nome</button></th>
                <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="telefone">Telefone</button></th>
                <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="endereco">Endereço</button></th>
                <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="data_chegada">Data de chegada</button></th>
                <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="data_entrega">Data de entrega</button></th>
                <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="finalizado">Finalizado</button></th>
                <th class="titulo-tabela">Valor total</th>
                <th class="titulo-tabela">Editar</th>
            </form>
        </tr>
        {% for dado in os %}
            <tr>
                <td>{{dado.nome}}</td>
                <td>{{dado.telefone}}</td>
                <td>{{dado.endereco}}</td>
                <td><input class="input-tabela" type="date" value="{{dado.data_chegada}}" readonly></td>
                <td><input class="input-tabela" type="date" value="{{dado.data_entrega}}" readonly></td>
                <td>{{dado.finalizado}}</td>
                <td>{{valores[dado.id]}}</td>
                <td>
                    <form method="post" action="{{ url_for('editar_os') }}">
                        <button class="botao-tabela" name="os_id" value="{{dado.id}}">
                            <img class="imagem-botao-tabela" src="/static/images/icone-abrir.png" alt="Logo">
                        </button>
                    </form>
                </td>  
            </tr>
        {% endfor %}
    </table>
{% elif filtro %}
    <div class="filtros">
        <h4>Nenhum cadastro encontrado</h4>
        <h4>:|</h4>
    </div>
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Inicialize os campos de entrada usando autoNumeric
        var options = {
            currencySymbol: 'R$ ',
            decimalCharacter: ',',
            digitGroupSeparator: '.',
            currencySymbolPlacement: 'p',
            decimalPlaces: 2
        };

        var inputs = document.querySelectorAll('.input-valor');
        inputs.forEach(function(input) {
            new AutoNumeric(input, options);
        });
    });
</script>
<script>
    // Função para definir o foco no campo de entrada ao carregar a página
    function definirFoco() {
        // Obter o elemento de entrada pelo ID
        var campoInput = document.getElementById("buscar");

        // Definir o foco no campo de entrada
        campoInput.focus();
    }

    // Chamar a função ao carregar a página
    window.onload = definirFoco;
</script>
{% endblock %}