{% extends "base.html" %}

{% block title %}
    <title>Manutenções</title>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.10.0/dist/autoNumeric.min.js"></script>
{% endblock %}

{% block menu %}
    <div class="menu" >
        <img class="menu-logo" src="/static/images/Logo-color.png" alt="Logo">
        <form class="form-menu" method="post" action="{{ url_for('menu') }}">
            <button class="menu-botoes" name="endereco" value="index">Pagina principal</button>
            <button class="menu-botoes-ativo" name="endereco" value="manutencao">Manutenção</button>
            <button class="menu-botoes" name="endereco" value="relatorio">Relatorios</button>
        </form>
    </div>
{% endblock %}
{% block container %}
<div class="sub-menu" >
    <form method="post" action="{{ url_for('nova_os') }}">
        <button class="sub-menu-botoes" name="cliente_id" value="teste">Novo serviço</button>
    </form>
    <form method="post" action="{{ url_for('manutencao') }}">
        <button class="sub-menu-botoes" name="cliente_id">Atualizar</button>
    </form>
</div>
<!--
<div class="pesquisa">
    <h2>Buscar OS</h2>
    <form method="post" action="{{ url_for('buscar_cadastro') }}">
        <input type="text" name="buscar_nome" placeholder="Nome">
        <button class="botao-colorido">Buscar cliente</button>
    </form>
    {% if resultado_pesquisa %}
        {% for cliente in resultado_pesquisa %}
            <form method="post" action="{{ url_for('buscar_cadastro') }}">
                <button class="opcoes-botoes" name="cliente_id" value="{{cliente}}"><h1>{{cliente[1]}}{{cliente[2]}}</h1></button>
            </form>    
        {% endfor %}    
    {% endif %}
</div>
-->
<div class="container">
    {% if nova_os %}
        <div class="container-cadastro">
            <div class="cadastro">
                <h2>Nova OS</h2>
                <form method="post" action="{{ url_for('registrar_os') }}">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" placeholder="Nome completo" required><br>
                    <label for="telefone">Telefone</label><br>
                    <input type="text" id="telefone" name="telefone" placeholder="Telefone" required><br>
                    <label for="endereco">Endereço</label><br>
                    <input type="text" id="endereco" name="endereco" placeholder="Endereço completo"><br>
                    <label for="data_chegada">Data de chegada</label><br>
                    <input type="date" id="data_chegada" name="data_chegada">
                    <label for="data_entrega">Data de entrega</label><br>
                    <input type="date" id="data_entrega" name="data_entrega">
                    <label for="finalizado">Finalizado</label><br>
                    <select type="text" id="finalizado" name="finalizado" placeholder="Finalizado">
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    <button class="botao-colorido">OK</button>
                </form>
            </div>
        </div>
    {% endif %}

    {% if editar_os %}
        <div class="container-cadastro">
            <div class="cadastro">
                <h2>Editar OS</h2>
                <form method="post" action="{{ url_for('salvar_alterações_os') }}">
                    <label for="nome">Nome</label><br>
                    <input type="text" id="nome"         name="nome"          value="{{ info_os[1]}}"  placeholder="Nome completo" required>
                    <label for="nome">Telefone</label><br>
                    <input type="text" id="telefone"     name="telefone"      value="{{ info_os[2] }}" placeholder="Telefone" required>
                    <label for="nome">Endereço</label><br>
                    <input type="text" id="endereco"     name="endereco"      value="{{ info_os[3] }}" placeholder="Endereço completo">
                    <label for="nome">Data de chegada</label><br>
                    <input type="date" id="data_chegada" name="data_chegada"  value="{{ info_os[4] }}"><br>
                    <label for="nome">Data de entrega</label>
                    <input type="date" id="data_entrega" name="data_entrega"  value="{{ info_os[5] }}"><br>
                    <label for="finalizado">Pronto</label>
                    <input type="text" id="finalizado" name="finalizado"  value="{{ info_os[6] }}">
                    <button class="botao-colorido" name="id" value="{{ info_os[0] }}">OK</button>
                </form>
            </div>
        </div>
        <div class="container-direita">
            <div class="edicao">
                <h2>Serviços</h2>
                {% if info_servicos %}
                        <form class="form-servico" method="post" action="{{ url_for('salvar_alterações_servico') }}">
                            <table class="tabela-servico">
                                <thead>
                                    <tr class="linha-servico">
                                        <th>ID</th>
                                        <th>Descrição</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr class="linha-servico">
                                    <td class="item-servico"><input class="input-servico" type="text" id="id" name="id" value="{{ info_servicos[0]}}"  placeholder="ID" readonly></td>
                                    <td class="item-servico"><input class="input-servico" type="text" id="descricao" name="descricao" value="{{ info_servicos[1]}}"  placeholder="Valor"></td>
                                    <td class="item-servico"><input class="input-servico" type="text" id="valor" name="valor" value="{{ info_servicos[2]}}"  placeholder="Valor"></td>
                                    <td class="item-servico"><button class="botao-confirmar" name="id" value="{{ info_servicos[0] }}">
                                        <img class="imagem-botao" src="/static/images/icone-salvar.png" alt="Logo">
                                    </button></td>
                                </tr>
                                <tr>
                                    <button class="botao-colorido" name="id" value="{{ info_servicos[0] }}">Adicionar</button>
                                </tr>
                            </tbody>
                            </table>
                        </form>
                {% endif %}
            </div>
        </div>

    {% endif %}
</div>
{% if os %}
    <table class="tabela">
        <tr>
            <form method="post" action="{{ url_for('filtrar_tabela') }}">
                <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="nome">Nome</button></th>
                <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="telefone">Telefone</button></th>
                <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="endereco">Endereço</button></th>
                <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="data_chegada">Data de chegada</button></th>
                <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="data_entrega">Data de entrega</button></th>
                <th class="titulo-tabela"><button class="botao-filtro" name="filtro_tabela" value="finalizado">Finalizado</button></th>
                <th class="titulo-tabela">Atualizar</th>
            </form>
        </tr>
        {% for dado in os %}
            <tr>
                <td>{{dado.nome}}</td>
                <td>{{dado.telefone}}</td>
                <td>{{dado.endereco}}</td>
                <td><input class="input-tabela" type="date" value="{{dado.data_chegada}}" readonly></td>
                <td><input class="input-tabela" type="date" value="{{dado.data_entrega}}" readonly></td>
                <td>{{dado.finalizado}}</td>    
                <td>
                    <form method="post" action="{{ url_for('editar_os') }}">
                        <button name="os_id" value="{{dado.id}}">Editar</button>
                    </form>
                </td>  
            </tr>
        {% endfor %}
    </table>
{% endif %}
<script>
    // Inicialize o campo de entrada usando autoNumeric
    var inputElement = document.getElementById('valor');
    var formatter = new AutoNumeric(inputElement, {
        currencySymbol: 'R$ ',
        decimalCharacter: ',',
        digitGroupSeparator: '.',
        currencySymbolPlacement: 'p',
        decimalPlaces: 2
    });
</script>
{% endblock %}