body{
    background-color: #ffffff;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    /*text-transform: uppercase;*/
}

/* MENU */

.menu{
    background-color: #E88120;
    width: 100%;
    height: 80px;
    display: flex;

    box-shadow: 0 0 1em gray;
}

.menu-logo{
    width: auto;
    height: 70px;
    padding: 5px 50px;
}
.menu-botoes{
    background-color: #E8812000;
    color: #FFFFFF4D;
    border: 0;
    height: 80px;
    text-align: center;
    padding: 25px;

    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition: 0.2s;
}

.menu-botoes-ativo{
    background-color: #ffffff4D;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    height: 80px;
    text-align: center;
    padding: 25px;

    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /*box-shadow: 0 0 10px gray;*/
}

.menu-botoes:hover{
    color: #FFFFFF;
}

.menu-botoes-pesquisar{
    background-color: #E8812000;
    color: #FFFFFF4D;
    border: 0;
    text-align: center;
    padding: 10px 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition: 0.2s;
}


/* Opção branco */
.menu{
    background-color: #ffffff;
    border: 1px solid #b3b3b3;
}

.menu-botoes{
    background-color: #E8812000;
    color: #000000;
}

.menu-botoes-ativo{
    background-color: #ffffff;
    color: #E88120;
}

.menu-botoes:hover{
    color: #484848;
}

/* SUBMENU */

.sub-menu{
    margin: 20px 0;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    display: flex;
    border: 5px solid #ffffff4D;
}

.sub-menu-botoes{
    background-color: #E88120;
    box-shadow: 0 0 10px #E88120;
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    padding: 10px 50px;
    margin: 0px 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition: 0.2s;
}

.form-sub-menu{
    display: flex;
}

.input-sub-menu{
    margin: 0;
    width: 0px;
    height: 35px;
}

.botao-buscar{
    background-color: #E88120;
    box-shadow: 0 0 10px #E88120;
    color: #ffffff;
    border: 0;
    border-radius: 20px;
    text-align: center;
    width: 80px;
    height: 40px;
    margin: 0px 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition: 0.2s;
}

.filtros {
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}

.form-filtros{
    height: 100px;
    align-items: center;
    text-align: center;
    margin: 0;
}

.botao-filtro-ativo{
    width: 150px;
    height: 40px;
    background-color: #E88120;
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    border-radius: 20px;
    border: 0;
    position: relative;
    transition: 0.2s;
}

.botao-filtro-ativo:hover{
    background-color: #ff0000;
}


.botao-filtro-ativo:hover img {
    display: block; /* Mostra a imagem quando o mouse está sobre o botão */
}

.texto-filtro{
    position: relative;
    margin: 0;
    text-align: center;
    align-items: center;
}

.imagem-botao-filtro{
    display: none;
    position: absolute; /* Define a posição absoluta para a imagem */
    top: 12px;
    right: 65px;
    width: 20px;
    transition: 0.2s;
}

.botao-filtro-ativo:hover h4 {
    color: transparent;
}

.botao-filtro-ativo span {
    z-index: 1; /* Coloca o texto acima da imagem */
}

.titulo-opcoes-botoes{
    width: 90%;
    height: 60px;
    color: #4d4d4d;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 12px;
    margin: 1% 5%;
}

.opcoes-botoes{
    width: 90%;
    height: 60px;
    color: #818181;
    background-color: #E8812000;
    border: 2px solid #818181;
    border-radius: 20px;
    margin: 1% 5%;
    transition: 0.2s;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.opcoes-botoes:hover{
    border: 2px solid #E88120;
    background-color: #E88120;
    color: #ffffff;
}

h2,h1 {
    width: 25%;
}

/* Cadastro */

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.container-cadastro{
    width: 38%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.container-direita{
    width: 58%;
}

.edicao{
    display: flex;
    flex-direction:column;
    width: 100%;
    margin: 2%;
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px #484848;
}

.tabela-servico, .form-servico{
    width: 95%;
}

.input-servico, .input-valor{
    color: #000000;
    outline: none;
    border: 2px solid #484848;
    border-radius: 0;
    background-color: #ffffff00;
    text-align: center;
    height: 30px;
    width: 97%;
    margin: 0;
}

.item-servico:first-child{
    width: 8%;
    padding-right: 7px;
}
.item-servico:last-child{
    width: 80px;
    align-items: center;
    text-align: center;
}

.item-servico {
    margin: 0;
    border: 0;
}

.linha-servico:hover, .item-servico:hover{
    background-color: #FFFFFF;
}

.botao-tabela{
    border: 0;
    background-color: #00000000;
    height: 50px;
    width: auto;
    transition: 0.2s;
}

.botao-tabela:hover{
    scale: 1.2;
}

.imagem-botao-tabela{
    width: 30px;
    height: auto;
}

.imagem-botao{
    width: 35px;
    height: 35px;
}

.botao-alterar-servico{
    width: 35px;
    height: 35px;
    padding: 0;
    border: 0;
    border-radius: 100px;
    background-color: #FFFFFF;
    align-items: center;
    text-align: center;
    transition: 0.2s;
}

.botao-alterar-servico:first-child:hover,.botao-alterar-servico:first-child:focus{
    background-color: #00ff2f77;
}

.botao-alterar-servico:last-child:hover, .botao-alterar-servico:last-child:focus{
    background-color: #ff000077;
}

.cadastro, .pesquisa{
    display: flex;
    flex-direction:column;
    width: 100%;
    margin: 2%;
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px #484848;
}
.pesquisa{
    display: flex;
    flex-direction:column;
    width: 40%;
    margin: 2%;
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px #484848;
}
label{
    font-size: 15px;
    font-weight: bold;
}
input, select{
    color: #000000;
    outline: none;
    border: 2px solid #484848;
    border-radius: 20px;
    background-color: #ffffff00;
    text-align: center;
    width: 80%;
    height: 30px;
    margin: 10px;
    transition: 1.5s;
}

input:focus{
    border: 2px solid #E88120;
}

.botao-colorido{
    height: 40px;
    width: 40%;
    margin: 10px;
    border: 0;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #ababab;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 10px #484848;
    transition: 0.2s;
}

.botao-colorido:hover, .botao-colorido:focus{
    color: #FFFFFF;
    background-color: #E88120;
    box-shadow: 0 0 10px #E88120; 
    outline: none;
}

/* Tabela */

.tabela{
    width: 100%;
    margin:0 auto;
    border-spacing: 1; 
    border-collapse: collapse; 
    box-shadow: 0 0 10px #484848;
}
.titulo-tabela, .botao-filtro{
    width: 12.5%;
    height: 50px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    background-color: #E88120;
    margin: 0;
}

.botao-filtro{
    width: 100%;
    height: 100%;
    border: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.botao-filtro:hover{
    background-color: #ffffff2b;
}

.input-tabela{
    border: 0;
    font-family: 'Roboto Slab', serif;
}
.input-tabela:focus{
    border: 0;
}

td{
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #00000045;
}

td:hover{
    background-color: #ccc;
}

tr{
    height: 40px;
    transition: 0.2s;
}

tr:hover{
    background-color: #e6e6e6;
}

/* Pesquisa animação */


.icone-pesquisa{
    width: 25px;
    height: 25px;
    right: 11px;
    top: 15px;
    position: absolute;
    z-index: 2;
}

.search-box{
    display: inline-block;
    position: relative;
    border-radius: 50px;
    border: 2px solid #E88120;
    height: 50px;
    margin-top: 15px;
    background-color: #E88120;
    padding-right: 20px;
}
.input-pesquisa {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
    width: 15px;
    height: 50px;
    padding: 5px 15px 5px 10px;
    border: none;
    box-sizing: border-box;
    border-radius: 50px 0px 0px 50px;
    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    z-index: 1;
}
.search-box input:focus {
    outline: none;
    border: 0;
    background-color: #ffffff;
}
.search-box input:focus, .search-box input:not(:placeholder-shown) {
    width: 300px;
    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}
.search-box input:focus + span, .search-box input:not(:placeholder-shown) + span {
    bottom: 12px;
    right: 13px;
    transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
}
.search-box input:focus + span:after, .search-box input:not(:placeholder-shown) + span:after {
  top: 0;
  right: 11px;
  opacity: 1;
  transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
}


/* Serviços */

